<%- include('../../includes/head/head.ejs') %>
<!-- Header -->
<%- include('../../includes/header/header.ejs') %>
<!-- Header End -->


<!-- contact area -->
<section class="content-inner shop-account">
    <!-- Product -->
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table check-tbl">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th class="text-end">Close</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-item-img">dadasdsa</td>
                                <td class="product-item-name">Battle Drive</td>
                                <td class="product-item-price">$28.00</td>
                                <td class="product-item-quantity">dadasdasd</td>
                                <td class="product-item-totle">$28.00</td>
                                <td class="product-item-close">
                                    <a href="javascript:void(0);" >  <img src="https://cdn-icons-png.flaticon.com/128/9283/9283120.png" loading="lazy" alt="Edit " title="Edit " width="32" height="32"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Product END -->
</section>
<!-- contact area End--> 
<%- include('../../includes/script/script.ejs') %>