<!-- Start Cookie Popup -->
<div class="fixed z-50 max-w-lg px-6 py-5 mx-auto bg-white rounded-md shadow cookie-popup bottom-3 end-3 start-3 sm:start-0 dark:bg-slate-900 dark:shadow-gray-800">
    <p class="text-slate-400">This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="/" target="_blank" class="font-semibold text-emerald-600 dark:text-emerald-500">use of cookies</a></p>
    <div class="cookie-popup-actions text-end">
        <button class="absolute p-0 font-semibold border-none cursor-pointer bg-none top-2 end-2"><i class="text-2xl uil uil-times text-dark dark:text-slate-200"></i></button>
    </div>
</div>
 <!--Note: Cookies Js including in plugins.init.js (path like; assets/js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
        <!-- End Cookie Popup -->