    <!-- JAVASCRIPTS -->
    <script src="<%= process.env.GERGI_HOSTNAME %>assets_2/libs/tiny-slider/min/tiny-slider.js"></script>
    <script src="<%= process.env.GERGI_HOSTNAME %>assets_2/libs/feather-icons/feather.min.js"></script>
    <script src="<%= process.env.GERGI_HOSTNAME %>assets_2/js/plugins.init.js"></script>
    <script src="<%= process.env.GERGI_HOSTNAME %>assets_2/js/app.js"></script>
    <!-- JAVASCRIPTS -->
    </body>
</html>