<!-- LTR & RTL Mode Code -->
<div class="fixed top-[40%] -right-3 z-50">
    <a href="/" id="switchRtl">
        <span class="relative inline-block px-3 py-1 font-bold -rotate-90 bg-white shadow-md rounded-t-md dark:bg-slate-900 dark:shadow dark:shadow-gray-800 rtl:block ltr:hidden" >LTR</span>
        <span class="relative inline-block px-3 py-1 font-bold -rotate-90 bg-white shadow-md rounded-t-md dark:bg-slate-900 dark:shadow dark:shadow-gray-800 ltr:block rtl:hidden">RTL</span>
    </a>
</div>
<!-- LTR & RTL Mode Code -->