<!-- Footer Start -->
<footer class="site-footer style-1">
    <!-- Footer Category -->

    <!-- Footer Category End -->

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-12">
                    <div class="widget widget_about">
                        <div class="footer-logo logo-white">
                            <a href="index.html"><img src="http://localhost:3000/uploads/gergi/logo/Global-E-library-logo-orange-black.png" alt=""></a> 
                        </div>
                        <p class="text">Global e-Library Resource Group Inc.</p>
                        <div class="dz-social-icon style-1">
                            <ul>
                                <li><a href="https://www.facebook.com/potolin.federex" target="_blank" ><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://www.youtube.com/@federexpotolin6284" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/federex-potolin/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/potolin.federex" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Our Links</h5>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Pricing Table</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Our Links</h5>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Pricing Table</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-4">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Resources</h5>
                        <ul>
                            <li><a href="#">Download</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="#">Partner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <div class="widget widget_getintuch">
                        <h5 class="footer-title">Get in Touch With Us</h5>
                        <ul>
                            <li>
                                <i class="flaticon-placeholder"></i>
                                <span>59 D, Project 6, Quezon City, Philippines</span>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <span>+123 345123 556<br>
                                +123 345123 556</span>
                            </li>
                            <li>
                                <i class="flaticon-email"></i> 
                                <span>gergiph@gmail.com<br>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row fb-inner">
                <div class="col-lg-6 col-md-12 text-start"> 
                    <p class="copyright-text">Global e-Library Resource Group Inc. - © <span class="current-year">2025</span> All Rights Reserved</p>
                </div>
                <div class="col-lg-6 col-md-12 text-end"> 
                    <p>Made with <span class="heart"></span> by <a href="https://gergi.app/">Gergi</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

</footer>
<!-- Footer End -->